<div class="container">
  <% @names.each do |name| %>
    <div class="card">
      <div class="card-body">
        <h5 class="text-center"><strong><%= name[:anotation] %></strong></h5>
        <hr>
        <%= image_tag attachments.inline[name[:att_name]].url, class: "img-fluid mx-auto", width: "600", alt: name[:anotation] %>
      </div>
    </div>
  <% end %>
</div>