// Place all the styles related to the patch_panels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.patch-panel{
  display: flex;
  flex-wrap: wrap;
  width: 776px;
}
.port{
  user-select: none;
}
